*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(185, 185, 185);
}
.main{
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.overlay{
    visibility: hidden;
    position:absolute;
    background-color: white;
    border: 3px solid black;
}
.header{
    flex: 1;
    align-self: stretch;
    background-color: white;
    border: 3px solid black;
}
.content{
    align-self: stretch;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
}
.xplayer{
    background-color: white;
    border: 3px solid black;
}
.oplayer{
    background-color: white;
    border: 3px solid black;
}
.gridCont{
    height: 680px;
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border: 3px solid black;
}
.gridCell{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 3px solid black;
}
.gridCell p{
    text-align: center;
    font-size: 10em;
}
.footer{
    flex: 1;
    align-self: stretch;
    background-color: white;
    border: 3px solid black;
}